.row {
    margin-left: 20px;
    color: #fff;
}
.posters {
    display: flex;
    gap: 20px;
    padding: 20px;
    overflow: scroll;
    overflow-y: hidden;
}
posters::-webkit-scrollbar{
    display: none;
}

.poster {
    border-radius: 5px;
    cursor: pointer;
    max-height: 300px;
    margin-right: 10px;
}
.poster:hover{
    transform: scale(1.1);
    transition: 0.5s;
}

.smallPoster:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
.smallPoster {
    border-radius: 5px;
    cursor: pointer;
    max-height: 150px;
    margin-right: 10px;
}

::-webkit-scrollbar{
    display: none;
}